<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__HELPER_LABEL__</string>
  <key>MachServices</key>
  <dict>
    <key>__HELPER_LABEL__</key>
    <true/>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/__HELPER_LABEL__</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
