[package]
name = "clash-verge"
version = "1.7.0"
description = "clash verge"
authors = ["zzzgydi", "wonfen", "MystiPanda", "oomeow"]
license = "GPL-3.0-only"
repository = "https://github.com/oomeow/clash-verge-self.git"
default-run = "clash-verge"
edition = "2021"
build = "build.rs"

[build-dependencies]
tauri-build = { version = "1.5.4", features = [] }

[dependencies]
warp = "0.3"
anyhow = "1.0"
dirs = "5.0"
open = "5.3"
log = "0.4"
dunce = "1.0"
log4rs = "1.3"
nanoid = "0.4"
chrono = "0.4"
sysinfo = "0.32"
boa_engine = "0.19"
serde_json = "1.0"
serde_yaml = "0.9"
once_cell = "1.19"
port_scanner = "0.1"
delay_timer = "0.11"
parking_lot = "0.12"
auto-launch = "0.5"
percent-encoding = "2.3"
window-shadows = { version = "0.2.2" }
tokio = { version = "1.40", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.12", features = ["rustls-tls", "json"] }
reqwest_dav = "0.1"
zip = "2.2"
sysproxy = { git = "https://github.com/zzzgydi/sysproxy-rs", branch = "main" }
tauri = { version = "1.7", features = [
    "fs-read-file",
    "fs-exists",
    "path-all",
    "protocol-asset",
    "dialog-open",
    "notification-all",
    "icon-png",
    "icon-ico",
    "clipboard-all",
    "global-shortcut-all",
    "process-all",
    "shell-all",
    "system-tray",
    "updater",
    "window-all",
    "devtools",
] }

[target.'cfg(windows)'.dependencies]
runas = "=1.2"
deelevate = "0.2"
winreg = "0.52"

[target.'cfg(target_os = "linux")'.dependencies]
users = "0.11"
openssl = { version = "0.10", features = ["vendored"] }

[features]
default = ["custom-protocol"]
custom-protocol = ["tauri/custom-protocol"]
verge-dev = []

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
