node_modules
.pnpm-store
.DS_Store
dist
dist-ssr
*.local
update.json
scripts/_env.sh
.tool-versions

archbuild/local_build/*
!archbuild/local_build/PKGBUILD
!archbuild/local_build/clash-verge.install
!archbuild/local_build/build.sh