[config]
skip_core_tasks = true
skip_git_env_info = true
skip_rust_env_info = true
skip_crate_env_info = true

# --- Backend ---

[tasks.rust-format]
install_crate = "rustfmt"
command = "cargo"
args = ["fmt", "--", "--emit=files"]

[tasks.rust-clippy]
description = "Run cargo clippy to lint the code"
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

# --- Frontend ---

[tasks.format]
description = "Run code formatter"
command = "pnpm"
args = ["format"]

[tasks.format-check]
description = "Run format checks"
command = "pnpm"
args = ["format:check"]

[tasks.eslint]
description = "Run ESLint to lint the code"
command = "pnpm"
args = ["lint"]

[tasks.typecheck]
description = "Run type checks"
command = "pnpm"
args = ["typecheck"]

[tasks.lint-staged]
description = "Run lint-staged for staged files"
command = "pnpm"
args = ["exec", "lint-staged"]

[tasks.i18n-check]
description = "Check i18n consistency"
command = "pnpm"
args = ["i18n:types"]

# --- Jobs ---
[tasks.rust]
dependencies = ["rust-format", "rust-clippy"]
[tasks.rust.condition]
files_modified.input = [
  "./src-tauri/**/*.rs",
  "./crates/**/*.rs",
  "**/Cargo.toml",
]
files_modified.output = ["./target/debug/*", "./target/release/*"]
[tasks.typescript]
dependencies = ["format-check", "eslint", "typecheck"]

[tasks.pre-push]
description = "Pre-push checks"
dependencies = ["rust", "typescript"]

[tasks.pre-commit]
dependencies = ["lint-staged", "i18n-check"]
