[config]
skip_core_tasks = true
skip_git_env_info = true
skip_rust_env_info = true
skip_crate_env_info = true

# --- Backend ---

[tasks.rust-format]
install_crate = "rustfmt"
command = "cargo"
args = ["fmt", "--", "--emit=files"]

[tasks.rust-clippy]
description = "Run cargo clippy to lint the code"
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

# --- Frontend ---

[tasks.format-check]
description = "Run format checks"
command = "pnpm"
args = ["format:check"]
[tasks.format-check.condition]
# TODO add more specific file patterns
files_modified = { input = [
  "./src/**/*",
  "./package.json",
  "./pnpm-lock.yaml",
], output = [
  "./node_modules/.last_format",
] }
[tasks.eslint]
description = "Run ESLint to lint the code"
command = "pnpm"
args = ["lint"]
[tasks.eslint.condition]
files_modified = { input = [
  "./src/**/*",
  "./package.json",
  "./pnpm-lock.yaml",
], output = [
  "./node_modules/.eslintcache",
] }

[tasks.typecheck]
description = "Run type checks"
command = "pnpm"
args = ["typecheck"]
[tasks.typecheck.condition]
files_modified = { input = [
  "./src/**/*",
  "./tsconfig.json",
], output = [
  "./node_modules/.last_typecheck",
] }

# --- Jobs ---
[tasks.rust]
dependencies = ["rust-format", "rust-clippy"]
[tasks.rust.condition]
files_modified = { input = [
  "./src-tauri/**/*.rs",
  "./crates/**/*.rs",
  "**/Cargo.toml",
], output = [
  "./target/**/clash-verge",
] }
# TODO add frontend jobs conditions


[tasks.pre-push]
description = "Pre-push checks"
dependencies = ["rust", "format-check", "eslint", "typecheck"]

[tasks.pre-commit]
dependencies = ["rust"]
