**/node_modules/
**/oh_modules/
**/.gradle/
**/.hvigor/
**/.cxx/
**/build/
**/dist/
**/local.properties
**/.git/
*.log
**/.idea/
**/tools/
**/captures/
**/signing.properties
**/*.keystore
**/*.jks
**/*.apk
**/*.aab
**/*.so
**/*.mmdb
**/*.metadb
**/*.dat
**/*.7z
**/.env
**/.env.*
android/app/src/main/assets/
android/core/src/main/jniLibs/
android/core/src/foss/golang/clash/
