body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root {
  --primary-main: #5b5c9d;
  --text-primary: #637381;
  --selection-color: #f5f5f5;
  --scroller-color: #90939980;
}

::selection {
  color: var(--selection-color);
  background-color: var(--primary-main);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroller-color);
}

@import "./layout.scss";
@import "./page.scss";

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgba(18, 18, 18, 1);
  }
}

.user-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
