body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root {
  --primary-main: #5b5c9d;
  --text-primary: #1f1f1f;
  --selection-color: #f5f5f5;
  --scroller-color: #8c8c8c;
  --background-color: #f5f5f5;
  --background-color-alpha: rgba(24, 103, 192, 0.1);
  --border-radius: 8px;
}

::selection {
  color: var(--selection-color);
  background-color: var(--primary-main);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroller-color);
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  overflow: hidden;
}

@import "./layout.scss";
@import "./page.scss";
@import "./font.scss";

// @media (prefers-color-scheme: dark) {
//   :root {
//     background-color: rgba(18, 18, 18, 1);
//   }
// }

.user-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// .page-enter {
//   opacity: 0;
//   transform: translateX(100px);
//   transition: all 300ms;
// }
// .page-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: all 300ms;
// }
// .page-exit {
//   opacity: 1;
//   transform: translateX(0);
// }
// .page-exit-active {
//   opacity: 0;
//   transform: translateX(100px);
//   transition: all 300ms;
// }

.fade-theme-enter {
  opacity: 0;
  transform: translateX(-50%);
}
.fade-theme-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-theme-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-theme-exit-active {
  opacity: 0;
  transform: translateX(50%);
}
.fade-theme-enter-active,
.fade-theme-exit-active {
  transition:
    opacity 500ms,
    transform 500ms;
}
