.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &__left {
    flex: 1 0 200px;
    display: flex;
    height: 100%;
    width: 100%;
    // max-width: 225px;
    // min-width: 225px;
    // padding: 16px 0 8px;
    padding: 0px 0px 8px;
    // position: relative;
    flex-direction: column;
    align-self: stretch;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    border-right: 1px solid var(--divider-color);
    // background-color: var(--background-color-alpha);

    // $maxLogo: 100px;

    .the-logo {
      position: relative;
      flex: 1 0 58px;
      // width: 100%;
      display: flex;
      height: 100%;
      padding: 0px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-self: stretch;
      // border-bottom: 1px solid var(--divider-color);
      // max-width: $maxLogo + 32px;
      // max-height: $maxLogo;
      // margin: 0 auto;
      // padding: 0 auto;
      // text-align: center;
      box-sizing: border-box;

      img,
      svg {
        width: 100%;
        height: 100%;
        pointer-events: none;
        // fill: var(--primary-main);

        // #bg {
        //   fill: var(--background-color);
        // }
      }

      .the-newbtn {
        position: absolute;
        right: 10px;
        top: 15px;
        border-radius: 8px;
        padding: 2px 4px;
        transform: scale(0.8);
      }
    }

    .the-menu {
      flex: 1 1 80%;
      overflow-y: auto;
      margin-bottom: 0px;
      padding-top: 4px;
    }

    .the-traffic {
      flex: 0 0 60px;

      > div {
        margin: 0 auto;
        padding: 0px 20px;
      }
    }
  }

  &__right {
    position: relative;
    flex: 1 1 100%;
    height: 100%;
    // background-color: var(--background-color-alpha);

    .the-bar {
      // position: absolute;
      // top: 0px;
      // right: 0px;
      height: 36px;
      display: flex;
      // align-items: center;
      justify-content: end;
      box-sizing: border-box;
      z-index: 2;
      .the-dragbar {
        margin-top: 5px;
        app-region: drag;
      }
    }

    .the-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 2px;
      bottom: 0px;
    }
  }
}

.linux,
.windows,
.unknown {
  &.layout {
    //.layout__left {
    //  padding-top: 24px;
    //}

    .layout__left .the-logo {
      flex: 1 0 58px;
      margin-top: 10px;
      margin-left: 10px;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 20px;
      padding-bottom: 16px;
    }

    .layout__right .the-content {
      top: 24px;
    }
  }
}

.macos {
  &.layout {
    .layout__left {
      padding-top: 24px;
    }

    .layout__right .the-content {
      top: 24px;
    }

    .layout__left .the-newbtn {
      right: 9px;
      top: 2px;
    }
  }
}
