.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &__left {
    flex: 1 0 25%;
    display: flex;
    height: 100%;
    max-width: 225px;
    min-width: 125px;
    padding: 16px 0 8px;
    flex-direction: column;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;

    $maxLogo: 100px;

    .the-logo {
      position: relative;
      flex: 0 1 $maxLogo;
      width: 100%;
      max-width: $maxLogo + 32px;
      max-height: $maxLogo;
      margin: 0 auto;
      padding: 0 16px;
      text-align: center;
      box-sizing: border-box;

      img,
      svg {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      .the-newbtn {
        position: absolute;
        right: 10px;
        bottom: 0px;
        transform: scale(0.8);
      }
    }

    .the-menu {
      flex: 1 1 80%;
      overflow-y: auto;
      margin-bottom: 8px;
    }

    .the-traffic {
      flex: 0 0 60px;

      > div {
        margin: 0 auto;
      }
    }
  }

  &__right {
    position: relative;
    flex: 1 1 75%;
    height: 100%;

    .the-bar {
      position: absolute;
      top: 2px;
      right: 8px;
      height: 36px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      z-index: 2;
    }

    .the-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 2px;
      bottom: 10px;
    }
  }
}

.linux,
.windows,
.unknown {
  &.layout {
    $maxLogo: 115px;
    .layout__left .the-logo {
      flex: 0 1 $maxLogo;
      max-width: $maxLogo + 32px;
      max-height: $maxLogo;
    }

    .layout__right .the-content {
      top: 30px;
    }
  }
}

.macos {
  &.layout {
    .layout__left {
      padding-top: 24px;
    }
    .layout__right .the-content {
      top: 20px;
    }
  }
}
