.base-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    flex: 0 0 58px;
    width: 95%;
    // max-width: 850px;
    margin: 0 auto;
    padding-right: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  > section {
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 8px 0;
    box-sizing: border-box;
    scrollbar-gutter: stable;
    // background-color: var(--background-color);

    .base-content {
      width: 95%;
      // max-width: 850px;
      margin: 0 auto;
      animation: baseContentIn 0.3s normal 1 forwards;

      @keyframes baseContentIn {
        0% {
          opacity: 0;
          transform: translateY(50%) scale(0.9);
        }

        100% {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
    }
  }
}
