name: Release Build

on:
  workflow_dispatch:
permissions: write-all
env:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: i686-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: macos-latest
            target: x86_64-apple-darwin

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install Rust Stable
        uses: dtolnay/rust-toolchain@stable

      - name: Add Rust Target
        run: rustup target add ${{ matrix.target }}

      - name: Rust Cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2
        with:
          workspaces: src-tauri

      - name: Install Node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: "20"

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Pnpm install and check
        run: |
          pnpm i
          pnpm check ${{ matrix.target }}

      - name: Tauri build
        uses: tauri-apps/tauri-action@8c3e0753aa015d00d03631d6d4f64ad59489251d # v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
          # APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          # APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          # APPLE_SIGNING_IDENTITY: ${{ secrets.APPLE_SIGNING_IDENTITY }}
          # APPLE_ID: ${{ secrets.APPLE_ID }}
          # APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          # APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        with:
          tagName: v__VERSION__
          releaseName: "Clash Verge Self v__VERSION__"
          releaseBody: "More new features are now supported."
          tauriScript: pnpm
          args: --target ${{ matrix.target }}

      - name: Portable Bundle
        if: matrix.os == 'windows-latest'
        run: pnpm portable ${{ matrix.target }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-for-linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-22.04
            target: i686-unknown-linux-gnu
          - os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-22.04
            target: armv7-unknown-linux-gnueabihf
    outputs:
      VERSION: ${{ steps.get_version.outputs.VERSION }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Build for Linux
        uses: ./.github/build-for-linux
        env:
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        with:
          target: ${{ matrix.target }}

      - name: Get Version
        id: get_version
        run: |
          sudo apt-get update
          sudo apt-get install jq
          echo "VERSION=$(cat package.json | jq '.version' | tr -d '"')" >> "$GITHUB_OUTPUT"

      - name: Generate Changelog
        run: |
          cat >> ${{ github.workspace }}/CHANGELOG.md << 'EOF'

          [FAQ](https://clash-verge-rev.github.io/faq/windows.html)

          EOF

      - name: Upload Release
        if: startsWith(matrix.target, 'x86_64')
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2
        with:
          tag_name: v${{steps.get_version.outputs.VERSION}}
          name: "Clash Verge Self v${{steps.get_version.outputs.VERSION}}"
          body_path: ${{ github.workspace }}/CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}
          files: src-tauri/target/${{ matrix.target }}/release/bundle/appimage/*.AppImage*

      - name: Upload Release
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2
        with:
          tag_name: v${{steps.get_version.outputs.VERSION}}
          name: "Clash Verge Self v${{steps.get_version.outputs.VERSION}}"
          body_path: ${{ github.workspace }}/CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            src-tauri/target/${{ matrix.target }}/release/bundle/deb/*.deb
            src-tauri/target/${{ matrix.target }}/release/bundle/rpm/*.rpm

  # release-for-fixed-webview2:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - os: windows-latest
  #           target: x86_64-pc-windows-msvc
  #           arch: x64
  #         - os: windows-latest
  #           target: i686-pc-windows-msvc
  #           arch: x86
  #         - os: windows-latest
  #           target: aarch64-pc-windows-msvc
  #           arch: arm64
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

  #     - name: Add Rust Target
  #       run: rustup target add ${{ matrix.target }}

  #     - name: Rust Cache
  #       uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2
  #       with:
  #         workspaces: src-tauri

  #     - name: Install Node
  #       uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
  #       with:
  #         node-version: "20"

  #     - uses: pnpm/action-setup@v4
  #       name: Install pnpm
  #       with:
  #         run_install: false

  #     - name: Pnpm install and check
  #       run: |
  #         pnpm i
  #         pnpm check ${{ matrix.target }}

  #     - name: Download WebView2 Runtime
  #       run: |
  #         invoke-webrequest -uri https://github.com/westinyang/WebView2RuntimeArchive/releases/download/109.0.1518.78/Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.${{ matrix.arch }}.cab -outfile Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.${{ matrix.arch }}.cab
  #         Expand .\Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.${{ matrix.arch }}.cab -F:* ./src-tauri
  #         Remove-Item .\src-tauri\tauri.windows.conf.json
  #         Rename-Item .\src-tauri\webview2.${{ matrix.arch }}.json tauri.windows.conf.json

  #     - name: Tauri build
  #       id: build
  #       uses: tauri-apps/tauri-action@41242bd545b6d1310ffc1685fb8bb87e97f0b748 # v0
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #         TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
  #         TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
  #       with:
  #         tauriScript: pnpm
  #         args: --target ${{ matrix.target }}

  #     - name: Rename
  #       run: |
  #         Rename-Item '.\src-tauri\target\${{ matrix.target }}\release\bundle\nsis\Clash Verge_${{steps.build.outputs.appVersion}}_${{ matrix.arch }}-setup.exe' 'Clash Verge_${{steps.build.outputs.appVersion}}_${{ matrix.arch }}_fixed_webview2-setup.exe'
  #         Rename-Item '.\src-tauri\target\${{ matrix.target }}\release\bundle\nsis\Clash Verge_${{steps.build.outputs.appVersion}}_${{ matrix.arch }}-setup.nsis.zip' 'Clash Verge_${{steps.build.outputs.appVersion}}_${{ matrix.arch }}_fixed_webview2-setup.nsis.zip'
  #         Rename-Item '.\src-tauri\target\${{ matrix.target }}\release\bundle\nsis\Clash Verge_${{steps.build.outputs.appVersion}}_${{ matrix.arch }}-setup.nsis.zip.sig' 'Clash Verge_${{steps.build.outputs.appVersion}}_${{ matrix.arch }}_fixed_webview2-setup.nsis.zip.sig'

  #     - name: Upload Release
  #       uses: softprops/action-gh-release@a74c6b72af54cfa997e81df42d94703d6313a2d0 # v2
  #       with:
  #         tag_name: v${{steps.build.outputs.appVersion}}
  #         name: "Clash Verge Self v${{steps.build.outputs.appVersion}}"
  #         token: ${{ secrets.GITHUB_TOKEN }}
  #         files: src-tauri/target/${{ matrix.target }}/release/bundle/nsis/*setup*

  #     - name: Portable Bundle
  #       run: pnpm portable-fixed-webview2 ${{ matrix.target }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pkgbuild:
    name: PKGBUILD for ArchLinux
    needs: [release-for-linux]
    strategy:
      fail-fast: false
    runs-on: ubuntu-22.04
    outputs:
      VERSION: ${{ needs.release-for-linux.outputs.VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Update Checksums
        run: |
          echo "version: ${{ needs.release-for-linux.outputs.VERSION }}"
          wget https://github.com/oomeow/clash-verge-self/releases/download/v${{ needs.release-for-linux.outputs.VERSION }}/clash-verge_${{ needs.release-for-linux.outputs.VERSION }}_amd64.deb -O amd64.deb
          wget https://github.com/oomeow/clash-verge-self/releases/download/v${{ needs.release-for-linux.outputs.VERSION }}/clash-verge_${{ needs.release-for-linux.outputs.VERSION }}_arm64.deb -O arm64.deb
          sed -i "s/sha256sums_x86_64=.*/sha256sums_x86_64=(\"$(sha256sum ./amd64.deb | awk '{print $1}')\")/" archbuild/release/PKGBUILD
          sed -i "s/sha256sums_aarch64=.*/sha256sums_aarch64=(\"$(sha256sum ./arm64.deb | awk '{print $1}')\")/" archbuild/release/PKGBUILD

      - name: Makepkg Build and Check
        id: makepkg
        uses: CachyOS/pkgbuild-action@master
        with:
          pkgdir: archbuild/release

      - name: Print Package Files
        run: |
          echo "Successfully created the following package archive"
          echo "Package: ${{ steps.makepkg.outputs.pkgfile0 }}"

      - name: Upload Release
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2
        with:
          tag_name: v${{ needs.release-for-linux.outputs.VERSION }}
          name: "Clash Verge Self v${{ needs.release-for-linux.outputs.VERSION }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          files: ${{ steps.makepkg.outputs.pkgfile0 }}

  release-update:
    runs-on: ubuntu-22.04
    needs: [release, pkgbuild]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install Node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: "20"

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Pnpm install
        run: pnpm i

      - name: Update changelog & Release updater file
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pnpm updater --changelog
          pnpm updater

      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION="${{ needs.pkgbuild.outputs.VERSION }}"
          BRANCH="changelog-update-$VERSION"
          LABEL="release changelog"

          git checkout -b $BRANCH
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add CHANGELOG.md UPDATELOG.md
          git commit -m "docs: update CHANGELOG.md and UPDATELOG.md"
          git push --set-upstream origin $BRANCH

          gh label create "$LABEL" \
            --color "C5DEF5" \
            --description "Pull requests with release changelog update" \
            --force \
            || true

          gh pr create \
            --title "Release Changelog update" \
            --body "Current pull request contains patched \`CHANGELOG.md\` and \`UPDATELOG.md\` files for the \`$VERSION\` version." \
            --label "$LABEL" \
            --head $BRANCH

  # release-update-for-fixed-webview2:
  #   runs-on: ubuntu-22.04
  #   needs: [release-for-fixed-webview2]
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

  #     - name: Install Node
  #       uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
  #       with:
  #         node-version: "20"

  #     - uses: pnpm/action-setup@v4
  #       name: Install pnpm
  #       with:
  #         run_install: false

  #     - name: Pnpm install
  #       run: pnpm i

  #     - name: Release updater file
  #       run: pnpm updater-fixed-webview2
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
