name: Updater CI

on: workflow_dispatch
permissions: write-all
jobs:
  release-update:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install Node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: "20"

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Pnpm install
        run: pnpm i

      - name: Release updater file
        run: pnpm updater
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # release-update-for-fixed-webview2:
  #   runs-on: ubuntu-22.04
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

  #     - name: Install Node
  #       uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
  #       with:
  #         node-version: "20"

  #     - uses: pnpm/action-setup@v4
  #       name: Install pnpm
  #       with:
  #         run_install: false

  #     - name: Pnpm install
  #       run: pnpm i

  #     - name: Release updater file
  #       run: pnpm updater-fixed-webview2
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
